html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(242, 242, 242);
}

.btc {
  height: 200px;
}

.more:hover {
  font-size: 25px;
  color: rgb(79,79,79);
  border: 1px solid white;
  background-color: white;
  border-radius: 30px;
}

.more {
  font-family: 'Catamaran';
  font-size: 25px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
}

.parent-element {
	filter: drop-shadow(0.35rem 0.40rem 0.5rem rgba(0, 0, 0, 0.40));
}

#crypto-name{
  text-shadow: 0.35rem 0.40rem 0.5rem rgba(0, 0, 0, 0.40);
}
#btc-price{
  text-shadow: 0.35rem 0.40rem 0.5rem rgba(0, 0, 0, 0.40);
}

.current-price{
  text-shadow: 0.35rem 0.40rem 0.5rem rgba(0, 0, 0, 0.40);
  border-bottom: 1px solid white;
}

.fa-caret-square-up{
  color: blue;
}

h5{
  padding: 0;
  margin: 0;
}
img{
  width: 80%;
}

.master-coin{
  position: relative;
}

@media (min-width: 100px) {
  .coin-row{
    margin: 50px 0 0 0;
    width: 100%;
    height: 70vh;
    
  }
}
@media (min-width: 770px) {
  .coin-row{
    margin-top: 0;
    width: 100%;
    height: 70vh;
  }
}


@media (min-width: 100px) {
  #coin {
    margin-top: 0px;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(242, 242, 242);
  }
}

@media (min-width: 770px) {
  #coin {
    margin-top: 70px;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(242, 242, 242);
  }
}


@media (min-width: 100px) {
  .header{
    position: relative;
    overflow: hidden;
    width: 100%;
  }
}
@media (min-width: 770px) {
  .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50%;
  }
}